# 시리즈 만들기
## Series 명령어 앞글자 대문자 주의!
### 인덱스를 디폴트값(0,1,2...)가아닌 값으로 설정가능

In [7]:
import pandas as pd
ser=pd.Series(['banana',42])
print(ser)
ser1=pd.Series(['Wes','Creator'])
print(ser1)
ser2=pd.Series(['Wes','Creator'],index=['person','who'])
print(ser2)

0    banana
1        42
dtype: object
0        Wes
1    Creator
dtype: object
person        Wes
who       Creator
dtype: object

# 데이터프레임 만들기
## pd.'D'ata'F'rame(data={'열이름':['열구성값들']},index=['인덱스값'],columns=['나타낼 열이름 순서교체'])

In [48]:
science=pd.DataFrame(data={'name':['ros','will'],'occ':['chem','stat'],'born':['1920-07-15','1911-07-16'],'died':['1958-04-16','1937-10-16'],
                           'age':['37','61']},index=['a','b'])
print(science)
science=pd.DataFrame(data={'name':['ros','will'],'occ':['chem','stat'],'born':['1920-07-15','1911-07-16'],'died':['1958-04-16','1937-10-16'],
                           'age':[37,61]},index=['a','b'],columns=['name','age','born','died'])
#이때 occ열은 columns에 할당되지않아 데이터 인덱싱안됨!!! 값이 없음처리
print('\n')
print(science)
print(science.dtypes)

   name   occ        born        died age
a   ros  chem  1920-07-15  1958-04-16  37
b  will  stat  1911-07-16  1937-10-16  61


   name  age        born        died
a   ros   37  1920-07-15  1958-04-16
b  will   61  1911-07-16  1937-10-16
name    object
age      int64
born    object
died    object
dtype: object

# 데이터프레임에서 시리즈 선택하기

In [16]:
first_row=science.loc['a']
print(type(first_row))
second_row=science.iloc[1]
print(type(second_row))
print(first_row)
print(second_row)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
name           ros
age             37
born    1920-07-15
died    1958-04-16
Name: a, dtype: object
name          will
age             61
born    1911-07-16
died    1937-10-16
Name: b, dtype: object

# index, values, keys 사용하기
## index=데이터유형(시리즈,데이터프레임)별 인덱스
## keys메서드는 시리즈의 인덱스 혹은 데이터프레임의 열이름

In [30]:
print(first_row.index)
print(first_row.values)
print(science.index)
print(science.values)
print('______________')
print(first_row.keys())
print(science.keys())
print('_____________')
print(first_row.index[0])
print(first_row.keys()[0])
print(science.index[0])
print(science.keys()[0])

Index(['name', 'age', 'born', 'died'], dtype='object')
['ros' '37' '1920-07-15' '1958-04-16']
Index(['a', 'b'], dtype='object')
[['ros' '37' '1920-07-15' '1958-04-16']
 ['will' '61' '1911-07-16' '1937-10-16']]
______________
Index(['name', 'age', 'born', 'died'], dtype='object')
Index(['name', 'age', 'born', 'died'], dtype='object')
_____________
name
name
a
name

# 시리즈의 mean, min, max, std 메서드 사용하기

In [57]:
ages=science['age']
print(ages)

# 1. pd.to_numeric()을 사용하여 숫자형으로 변환
#    - errors='coerce' 옵션은 숫자가 아닌 값을 NaN으로 바꿉니다.
science['age'] = pd.to_numeric(science['age'], errors='coerce')

# 2. NaN 값을 처리한 후 정수로 변환
#    - NaN은 정수형으로 표현될 수 없으므로, 먼저 NaN을 0과 같은 값으로 채워줍니다.
science['age'] = science['age'].fillna(0).astype('int64')

# 최종 결과 확인
print(science['age'])
print(science['age'].dtype)

print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())
print(ages.isin([37]))

a    37
b    61
Name: age, dtype: int64
a    37
b    61
Name: age, dtype: int64
int64
49.0
37
61
16.97056274847714
a     True
b    False
Name: age, dtype: bool

# 시리즈와 불린 추출 사용하기

In [76]:
print(ages[ages>ages.mean()])
print('\n')
print(ages>ages.mean())
print(type(ages>ages.mean()))

b    61
Name: age, dtype: int64


a    False
b     True
Name: age, dtype: bool
<class 'pandas.core.series.Series'>
a     74
b    122
Name: age, dtype: int64
a    1369
b    3721
Name: age, dtype: int64


0    1
dtype: int64
a   NaN
b   NaN
0   NaN
dtype: float64
index 겹치는게 존재하는 경우 +는 겹치는거 연산, 없으면 데이터값 추가
a    38.0
b     NaN
dtype: float64
b    61
a    37
Name: age, dtype: int64

# 시리즈와 브로드캐스팅
## 시리즈(=벡터)의 연산
### 'index 겹치는게 존재하는 경우 +는 겹치는거 연산, 없으면 데이터값 추가'

In [77]:
print(ages+ages)
print(ages*ages)
print('\n')
adding=pd.Series([1])
print(adding)
print(ages + adding)
print('index 겹치는게 존재하는 경우 +는 겹치는거 연산, 없으면 데이터값 추가')
adding=pd.Series([1],index=['a'])
print(ages + adding)
ab=ages.sort_index(ascending=False)
print(ab)

a     74
b    122
Name: age, dtype: int64
a    1369
b    3721
Name: age, dtype: int64


0    1
dtype: int64
a   NaN
b   NaN
0   NaN
dtype: float64
index 겹치는게 존재하는 경우 +는 겹치는거 연산, 없으면 데이터값 추가
a    38.0
b     NaN
dtype: float64
b    61
a    37
Name: age, dtype: int64

# 데이터프레임과 불린 추출

In [82]:
print(science[science['age']>science['age'].mean()])
print(science.loc[[False,True]])
print(science.loc[[True,False]])

   name  age        born        died
b  will   61  1911-07-16  1937-10-16
   name  age        born        died
b  will   61  1911-07-16  1937-10-16
  name  age        born        died
a  ros   37  1920-07-15  1958-04-16

# 데이터프레임과 브로드캐스팅

In [83]:
print(science * 2)

       name  age                  born                  died
a    rosros   74  1920-07-151920-07-15  1958-04-161958-04-16
b  willwill  122  1911-07-161911-07-16  1937-10-161937-10-16

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [99]:
print(science.dtypes)
print('\n')
print(science['age'].dtype)
print('\n')
born_datetime=pd.to_datetime(science['born'],format='%Y-%m-%d')
print(born_datetime)
died_datetime=pd.to_datetime(science['died'],format='%Y-%m-%d')
print(died_datetime)

#새로운열 추가
science['born_dt'],science['died_dt']=(born_datetime,died_datetime)
print(science)
print(science.shape)
science['age']=[37,61]
science['age_days']=science['died_dt']-science['born_dt']
print(science)

name                 object
age         timedelta64[ns]
born                 object
died                 object
born_dt      datetime64[ns]
died_dt      datetime64[ns]
age_days    timedelta64[ns]
dtype: object


timedelta64[ns]


a   1920-07-15
b   1911-07-16
Name: born, dtype: datetime64[ns]
a   1958-04-16
b   1937-10-16
Name: died, dtype: datetime64[ns]
   name        age        born        died    born_dt    died_dt   age_days
a   ros 13789 days  1920-07-15  1958-04-16 1920-07-15 1958-04-16 13789 days
b  will  9589 days  1911-07-16  1937-10-16 1911-07-16 1937-10-16  9589 days
(2, 7)
   name  age        born        died    born_dt    died_dt   age_days
a   ros   37  1920-07-15  1958-04-16 1920-07-15 1958-04-16 13789 days
b  will   61  1911-07-16  1937-10-16 1911-07-16 1937-10-16  9589 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [119]:
import random
random.seed(11)

# 인덱스 a,b 설정한거 변경 (덮어쓰기)
science=science.rename(index={'a': 0, 'b': 1})
print(science)

random.shuffle(science['age'])
print(science['age'])

   name  age        born        died    born_dt    died_dt   age_days
0   ros   61  1920-07-15  1958-04-16 1920-07-15 1958-04-16 13789 days
1  will   37  1911-07-16  1937-10-16 1911-07-16 1937-10-16  9589 days
0    61
1    37
Name: age, dtype: int64

C:\Users\user\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
C:\Users\user\anaconda3\Lib\random.py:361: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열(Columns) 삭제하기
## axis=1 열 기준 삭제 axis=0 행 기준 삭제 !!!

In [122]:
print(science.columns)
science_drop=science.drop(['age'],axis=1)
print(science_drop)

Index(['name', 'age', 'born', 'died', 'born_dt', 'died_dt', 'age_days'], dtype='object')
   name        born        died    born_dt    died_dt   age_days
0   ros  1920-07-15  1958-04-16 1920-07-15 1958-04-16 13789 days
1  will  1911-07-16  1937-10-16 1911-07-16 1937-10-16  9589 days

# 피클 형식으로 저장하기

In [123]:
#피클이란 바이너리 형태로 직렬화한 오브젝트를 저장 -> 더작은용량
#형식 : 파일명(or데이터프레임명).to_pickle('파일경로,파일명')

# CSV 저장 및 불러오기

In [125]:
#csv comma / tsv tap(띄어쓰기)

#불러오기 형식 : 데이터프레임명 = pd.read_csv('파일경로,파일명')
#형식 : 파일명(or데이터프레임명).to_csv('파일경로,파일명' , sep='\t 등 구분기호설정')

# 엑셀파일로 저장하기
## 데이터 프레임만 저장가능!!!(시리즈는 변환필요)

In [ ]:
# 데이터프레임명 = 변환할시리즈명.to_frame()


# pip install xlwt -> xls 파일
#  import xlwt
#  데이터프레임명.to_excel('경로/엑셀명.xls')


# pip install openpyxl -> xlsx 파일
#  import openpyxl
#  데이터프레임명.to_excel('경로/엑셀명.xlsx')