# concat 메서드 사용하기

In [10]:
import pandas as pd

df1=pd.read_csv('../data/concat_1.csv')
df2=pd.read_csv('../data/concat_2.csv')
df3=pd.read_csv('../data/concat_3.csv')

print(df1)
print(df2)
print(df3)

row_concat=pd.concat([df1,df2,df3])
print(row_concat)

#loc은 인덱스 값이 3을갖는 자료들 전부추출
print(row_concat.loc[3])
print('_______________')
#iloc은 위치가 3(4번째) 자료추출
print(row_concat.iloc[3])

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
     A    B    C    D
3   a3   b3   c3   d3
3   a7   b7   c7   d7
3  a11  b11  c11  d11
_______________
A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

# 데이터프레임에 시리즈 연결하기
## 시리즈에는 열이름이 없기에 새로운 열 요소 추가로 간주!!! -> 데이터프레임형식으로 칼럼별 값지정하여 추가해야함

In [18]:
new_series=pd.Series(['n1','n2','n3','n4'])
print(pd.concat([df1,new_series]))

new_row=pd.DataFrame([['n1','n2','n3','n4']],columns=['A','B','C','D'])
print(new_row)
print(pd.concat([df1,new_row]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4
    A   B   C   D
0  n1  n2  n3  n4
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

# 행 '1개'로 구성된 데이터프레임 생성하여 연결하기 --현재 사라짐!

In [20]:
#다른 방법들
#1개인경우만 가능한  append --> pandas2.0부터 불가능!!

# 다양한 방법으로 데이터 연결하기

In [29]:
#모든자료를 합친후 인덱스 새로 순서대로 부여
row_concat_i=pd.concat([df1,df2,df3],ignore_index=True)
print(row_concat_i)

#열방향으로 병합 axis=1 ,(행으로 추가는 axis=0)
col_concat=pd.concat([df1,df2,df3],axis=1)
print(col_concat)
print(col_concat['A'])

#새로운열 추가 데이터프레임명[추가할칼럼명]=[각 행에서 해당 열에 입력될 값들]
col_concat['new_col']=['n1','n2','n3','n4']
print(col_concat)

#열방향병합+인덱스새로부여
print(pd.concat([df1,df2,df3],axis=1,ignore_index=True))

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11
    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11
    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11
    A   B   C   D   A   B   C   D    A    B    C    D new_col
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8      n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9      n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10      n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11      n4
   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

# 공통 열과 공통 인덱스만 연결하기

In [42]:
#각 데이터프레임 칼럼명 재지정
df1.columns=['A','B','C','D']
df2.columns=['E','F','G','H']
df3.columns=['A','C','F','H']
print(df2)
print(type(df2))

rowconcat=pd.concat([df1,df2,df3])
print(rowconcat)

print('_____열 방향 병합(수직병합)_________')
#공통항목만 출력 
#3개전부 공통항목 = 없음
print(pd.concat([df1,df2,df3],join='inner'))
print('_')
print(pd.concat([df1,df2,df3],join='outer'))
#df1,df3공통 항목(동일하게 존재하는 열)
print(pd.concat([df1,df3],join='inner',ignore_index=True))

print('_____행 방향 병합(수평병합)_________')
df1.index=[0,1,2,3]
df2.index=[4,5,6,7]
df3.index=[0,2,5,7]


print(df2)
colconcat=pd.concat([df1,df2,df3],axis=1,join='inner')
print(colconcat)
#df1,df3공통 항목(동일하게 존재하는 인덱스)
print(pd.concat([df1,df3],join='inner',axis=1))

    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
<class 'pandas.core.frame.DataFrame'>
     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
2   a9  NaN   b9  NaN  NaN   c9  NaN   d9
5  a10  NaN  b10  NaN  NaN  c10  NaN  d10
7  a11  NaN  b11  NaN  NaN  c11  NaN  d11
_____열 방향 병합(수직병합)_________
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 0, 2, 5, 7]
_
     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
2   a9  NaN   b9  NaN  NaN   c9  NaN   d9
5  a10  NaN  b10  NaN  NaN  c10  NaN  d10
7  a11  NaN  b11  NaN  NaN  c11  NaN  d11
     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
4   a8   b8
5   a9   b9
6  a10  b10
7  a11  b11
_____행 방향 병합(수평병합)_________
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
Empty DataFrame
Columns: [A, B, C, D, E, F, G, H, A, C, F, H]
Index: []
    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

# merge 메서드 사용하기  - concat은 인덱스나 칼럼명을 기준으로 // merge는 내부조인기본
## 일치해야할 left_on의 열 요소와 right_on의 열요소 설정 (여러개 설정도 가능)

In [53]:
import pandas as pd

person=pd.read_csv('../data/survey_person.csv')
site=pd.read_csv('../data/survey_site.csv')
survey=pd.read_csv('../data/survey_survey.csv')
visited=pd.read_csv('../data/survey_visited.csv')

print(person)
print(site)
print(survey)
print(visited)
print('___________')
visited_subset=visited.iloc[[0,2,6]]
print(visited_subset)
print('___________')
#일치해야할 left_on의 열 요소와 right_on의 열요소 설정 left.merge(right, left_on='leftcolumn', right_on='rightcolumn')
o2o_merge=site.merge(visited_subset,left_on='name',right_on='site')
print(o2o_merge)
print('___________')
b2o_merge=site.merge(visited,left_on='name',right_on='site')
print(b2o_merge)
print('______***_____')
#여러개의 left_on right_on 설정시
ps=person.merge(survey,left_on='ident',right_on='person')
vs=visited.merge(survey,left_on='ident',right_on='taken')
ps_vs=ps.merge(vs,left_on=['ident','taken','quant'],right_on=['person','ident','quant'])
print(ps_vs)
print('___________')
print(ps_vs.iloc[13])

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
___________
   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14
___________
    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14
___________
    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14
______***_____
   ident_x   personal   family  taken_x person_x quant  reading_x  ident_y  \
0     dyer    William     Dyer      619     dyer   rad       9.82      619
1     dyer    William     Dyer      619     dyer   sal       0.13      619
2     dyer    William     Dyer      622     dyer   rad       7.80      622
3     dyer    William     Dyer      622     dyer   sal       0.09      622
4       pb      Frank  Pabodie      734       pb   rad       8.41      734
5       pb      Frank  Pabodie      734       pb  temp     -21.50      734
6       pb      Frank  Pabodie      735       pb   rad       7.22      735
7       pb      Frank  Pabodie      751       pb   rad       4.35      751
8       pb      Frank  Pabodie      751       pb  temp     -18.50      751
9     lake   Anderson     Lake      734     lake   sal       0.05      734
10    lake   Anderson     Lake      751     lake   sal       0.10      751
11    lake   Anderson     Lake      752     lake   rad       2.19      752
12    lake   Anderson     Lake      752     lake   sal       0.09      752
13    lake   Anderson     Lake      752     lake  temp     -16.00      752
14    lake   Anderson     Lake      837     lake   rad       1.46      837
15    lake   Anderson     Lake      837     lake   sal       0.21      837
16     roe  Valentina  Roerich      752      roe   sal      41.60      752
17     roe  Valentina  Roerich      837      roe   sal      22.50      837
18     roe  Valentina  Roerich      844      roe   rad      11.25      844

     site       dated  taken_y person_y  reading_y
0    DR-1  1927-02-08      619     dyer       9.82
1    DR-1  1927-02-08      619     dyer       0.13
2    DR-1  1927-02-10      622     dyer       7.80
3    DR-1  1927-02-10      622     dyer       0.09
4    DR-3  1939-01-07      734       pb       8.41
5    DR-3  1939-01-07      734       pb     -21.50
6    DR-3  1930-01-12      735       pb       7.22
7    DR-3  1930-02-26      751       pb       4.35
8    DR-3  1930-02-26      751       pb     -18.50
9    DR-3  1939-01-07      734     lake       0.05
10   DR-3  1930-02-26      751     lake       0.10
11   DR-3         NaN      752     lake       2.19
12   DR-3         NaN      752     lake       0.09
13   DR-3         NaN      752     lake     -16.00
14  MSK-4  1932-01-14      837     lake       1.46
15  MSK-4  1932-01-14      837     lake       0.21
16   DR-3         NaN      752      roe      41.60
17  MSK-4  1932-01-14      837      roe      22.50
18   DR-1  1932-03-22      844      roe      11.25
___________
ident_x          lake
personal     Anderson
family           Lake
taken_x           752
person_x         lake
quant            temp
reading_x       -16.0
ident_y           752
site             DR-3
dated             NaN
taken_y           752
person_y         lake
reading_y       -16.0
Name: 13, dtype: object