# 1개의 열만 고정하고 나머지 열을 행으로 바꾸기

In [14]:
import pandas as pd
pew=pd.read_csv('../data/pew.csv')
print(pew.head())
print(pew.iloc[:,0:6])
print('___')
#id_vars='위치를 그대로 유지할 열' ,  value_vars=행으로 위치변경(~피봇팅)할 '열 이름' 지정, var_name=value_vars로 위치 변경한 열 '이름지정', 
#value_name=var_name으로 위치 변경한 열의 '데이터'를 저장한 열의 '이름지정'
pew_long=pd.melt(pew,id_vars='religion')
print(pew_long.head())
#소득정보는 전부 variable처리,"피벗"
print('___')
pew_long=pd.melt(pew,id_vars='religion',var_name='income',value_name='count')
print(pew_long.head(n=20))

             religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k  \
0            Agnostic     27       34       60       81       76      137
1             Atheist     12       27       37       52       35       70
2            Buddhist     27       21       30       34       33       58
3            Catholic    418      617      732      670      638     1116
4  Don’t know/refused     15       14       15       11       10       35

   $75-100k  $100-150k  >150k  Don't know/refused
0       122        109     84                  96
1        73         59     74                  76
2        62         39     53                  54
3       949        792    633                1489
4        21         17     18                 116
                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341
___
             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15
___
                   religion   income  count
0                  Agnostic    <$10k     27
1                   Atheist    <$10k     12
2                  Buddhist    <$10k     27
3                  Catholic    <$10k    418
4        Don’t know/refused    <$10k     15
5          Evangelical Prot    <$10k    575
6                     Hindu    <$10k      1
7   Historically Black Prot    <$10k    228
8         Jehovah's Witness    <$10k     20
9                    Jewish    <$10k     19
10            Mainline Prot    <$10k    289
11                   Mormon    <$10k     29
12                   Muslim    <$10k      6
13                 Orthodox    <$10k     13
14          Other Christian    <$10k      9
15             Other Faiths    <$10k     20
16    Other World Religions    <$10k      5
17             Unaffiliated    <$10k    217
18                 Agnostic  $10-20k     34
19                  Atheist  $10-20k     27

# 2개 이상의 열을 고정하고 나머지 열을 행으로 바꾸기

In [12]:
billboard=pd.read_csv('../data/billboard.csv')
print(billboard.iloc[0:5,0:16])
billboard_long=pd.melt(billboard,id_vars=['year','artist','track','time','date.entered'],var_name='week',value_name='rating')
print(billboard_long.head())

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5   wk6   wk7   wk8   wk9  wk10  wk11
0  72.0  77.0  87.0  94.0  99.0   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  57.0  54.0  53.0  51.0  51.0  51.0
3  72.0  69.0  67.0  65.0  55.0  59.0  62.0  61.0  61.0
4  25.0  17.0  17.0  31.0  36.0  49.0  53.0  57.0  64.0
   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

# ebola 데이터 집합 살펴보기

In [24]:
ebola=pd.read_csv('../data/country_timeseries.csv')
print(ebola.head(n=5))
print(ebola.columns)
ebola_long=pd.melt(ebola,id_vars=['Date','Day'])
print(ebola_long.head(n=3))

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

   Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
0            NaN            NaN                 NaN          NaN         NaN
1            NaN            NaN                 NaN          NaN         NaN
2            NaN            NaN                 NaN          NaN         NaN
3            NaN            NaN                 NaN          NaN         NaN
4            NaN            NaN                 NaN          NaN         NaN

   Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
0         1786.0             NaN              2977.0             NaN
1         1781.0             NaN              2943.0             NaN
2         1767.0          3496.0              2915.0             NaN
3            NaN          3496.0                 NaN             NaN
4         1739.0          3471.0              2827.0             NaN

   Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
0             NaN                  NaN           NaN          NaN
1             NaN                  NaN           NaN          NaN
2             NaN                  NaN           NaN          NaN
3             NaN                  NaN           NaN          NaN
4             NaN                  NaN           NaN          NaN
Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')
       Date  Day      variable   value
0  1/5/2015  289  Cases_Guinea  2776.0
1  1/4/2015  288  Cases_Guinea  2775.0
2  1/3/2015  287  Cases_Guinea  2769.0

# 열 이름 나누고 데이터 프레임에 추가하기

In [23]:
variable_split=ebola_long.variable.str.split('_')
print(variable_split[:5])
print(type(variable_split))
print(type(variable_split[0]))

status_values=variable_split.str.get(0) #ex. Cases, Deaths
country_values=variable_split.str.get(1) #ex. Guinea , Liberia...
print(status_values[:5]) #앞에서 5개
print(status_values[-5:]) #끝에서 5개
print(country_values[:5])
print(country_values[-5:])

ebola_long['status']=status_values
ebola_long['country']=country_values
print(ebola_long.head())

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object
<class 'pandas.core.series.Series'>
<class 'list'>
0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object
         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

# concat 메서드를 응용하여 데이터프레임에 열 추가하기

In [26]:
variable_split=ebola_long.variable.str.split('_',expand=True)
variable_split.columns=['status2','country2']
ebola_parsed=pd.concat([ebola_long,variable_split],axis=1)

print(ebola_parsed.head())

         Date  Day      variable   value status2 country2
0    1/5/2015  289  Cases_Guinea  2776.0   Cases   Guinea
1    1/4/2015  288  Cases_Guinea  2775.0   Cases   Guinea
2    1/3/2015  287  Cases_Guinea  2769.0   Cases   Guinea
3    1/2/2015  286  Cases_Guinea     NaN   Cases   Guinea
4  12/31/2014  284  Cases_Guinea  2730.0   Cases   Guinea

# 기상 데이터의 여러 열을 하나로 정리하기

In [32]:
weather=pd.read_csv('../data/weather.csv')
print(weather.iloc[:5,:])
weather_melt=pd.melt(weather,id_vars=['id','year','month','element'],var_name='day',value_name='temp')
print(weather_melt.head(n=4))
#pivot_table:피봇팅한걸 다시 행과 열의 위치를 바꿔정리
weather_tidy=weather_melt.pivot_table(index=['id','year','month','day'],columns='element',values='temp',dropna=True)
print(weather_tidy)
print('________')
#flat하게 만들기위해 (열이름 정돈,평탄화)
weather_flat=weather_tidy.reset_index()
print(weather_flat.head())

        id  year  month element  d1    d2    d3  d4    d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN  ...  NaN  29.9
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN  ...  NaN  10.7
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN  ...  NaN   NaN

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]
        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4
                   d8   29.0  17.3
             10    d5   27.0  14.0
                   d14  29.5  13.0
                   d15  28.7  10.5
                   d28  31.2  15.0
                   d7   28.1  12.9
             11    d2   31.3  16.3
                   d5   26.3   7.9
                   d27  27.7  14.2
                   d26  28.1  12.1
                   d4   27.2  12.0
             12    d1   29.9  13.8
                   d6   27.8  10.5
________
element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4

# 빌보드 차트의 중복 데이터 처리하기

In [47]:
billboard=pd.read_csv('../data/billboard.csv')
billboard_long=pd.melt(billboard,id_vars=['year','artist','track','time','date.entered'],var_name='week',value_name='rating')
print(billboard_long.shape)
print(billboard_long)

print(billboard_long[billboard_long.track=='Loser'].head())

bill_songs=billboard_long[['year','artist','track','time']]
print(bill_songs.shape)
#중복된 데이터 제거 (여기선 year,artist,track,time전부 겹치는경우!)
bill_songs2=bill_songs.drop_duplicates()
print(bill_songs2.shape)

#중복되지않은 각 고유 데이터에 번호(id)부여 
#이때 bill_songs2는 bill_songs를 참조하여 슬라이싱 한것(참조의 참조)이므로, 새로 복제하여 슬라이싱하는게 참조오류 방지 가능!!!!!!
bill_songs2['id']=range(len(bill_songs2))
print(bill_songs2.head())
print('_____________')
#merge로 다시 원본과 결합 ->고유 id 별로 묶어보기가능
bill_ratings=billboard_long.merge(bill_songs2,on=['year','artist','track','time'])
print(bill_ratings.shape)
print(bill_ratings.head())
print('_____________')
#정렬
bill_ratings_sorted=bill_ratings.sort_values(by='id')
print(bill_ratings_sorted.head())

(24092, 7)
       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]
      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0
(24092, 4)
(317, 4)
   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4
_____________
(24092, 8)
   year        artist                    track  time date.entered week  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1

   rating  id
0    87.0   0
1    91.0   1
2    81.0   2
3    76.0   3
4    57.0   4
_____________
       year artist                    track  time date.entered  week  rating  \
10144  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk33     NaN
14265  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk46     NaN
9827   2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk32     NaN
17752  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk57     NaN
10778  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk35     NaN

       id
10144   0
14265   0
9827    0
17752   0
10778   0

C:\Users\user\AppData\Local\Temp\ipykernel_12964\1033624493.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bill_songs2['id']=range(len(bill_songs2))

# 뉴욕 택시 데이터 준비

In [57]:

import os
import requests

# User-Agent 헤더를 포함한 요청 헤더를 정의합니다.
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

with open('../data/raw_data_urls.txt', 'r') as data_urls:
    for line_num, url in enumerate(data_urls):
        if line_num == 5:
            break
        
        clean_url = url.strip()
        fn = clean_url.split('/')[-1]
        fp = os.path.join('../data', fn)
        
        print(f"다운로드 시도: {clean_url}")
        
        try:
            # requests.get()으로 요청을 보내고, 헤더를 추가합니다.
            response = requests.get(clean_url, headers=headers)
            
            # 응답 상태 코드가 200(성공)인지 확인합니다.
            response.raise_for_status()
            
            # 응답 내용(content)을 파일에 씁니다.
            with open(fp, 'wb') as f:
                f.write(response.content)
            print(f"성공적으로 저장됨: {fp}")
            
        except requests.exceptions.RequestException as e:
            print(f"오류 발생: {e}")
            print("URL을 브라우저에서 직접 확인해 보세요.")

다운로드 시도: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv
오류 발생: 403 Client Error: Forbidden for url: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv
URL을 브라우저에서 직접 확인해 보세요.
다운로드 시도: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv
오류 발생: 403 Client Error: Forbidden for url: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv
URL을 브라우저에서 직접 확인해 보세요.
다운로드 시도: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv
오류 발생: 403 Client Error: Forbidden for url: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv
URL을 브라우저에서 직접 확인해 보세요.
다운로드 시도: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv
오류 발생: 403 Client Error: Forbidden for url: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv
URL을 브라우저에서 직접 확인해 보세요.
다운로드 시도: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv
오류 발생: 403 Client Error: Forbidden for url: https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv
URL을 브라우저에서 직접 확인해 보세요.

# 반복문으로 데이터 준비하기